<div class="container-fluid">

	
	
    <div class="row">
    
    

    		
    		
			<!-- 
check out the clearfix, if I end up with issues: 
			http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-grid-system.php
 -->

		
        
       <div class= "slideOne" ng-show="page==1">
			<div class="col-sm-4 col-md-4 col-lg-4 pageOne"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageOne"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageOne"></div>

			<div class="clearfix visible-lg-block pageOne"></div>
			<div class="clearfix visible-md-block pageOne"></div>
			
            <div class="col-sm-12 col-md-12 col-lg-12 pageOne"><h2><p class="wrapBox"> 
          
			Take A Quick Quiz To Help Us Create a Custom Trip For You
            </p></h2>
            
            <br>
            
            <h2><p class="box">
            <button class="nextButton" ng-click="nextStep()">Start!</button>
            </p></h2></div>

			
		</div> 
        
        
        <div class="slideTwo" ng-show="page==2">
        
        
        	<div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
            
            <div class="clearfix visible-lg-block pageTwo"></div>
			<div class="clearfix visible-md-block pageTwo"></div>
			
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>

			<div class="clearfix visible-lg-block pageTwo"></div>
			<div class="clearfix visible-md-block pageTwo"></div>
			
			
			
            <div class="col-sm-4 col-md-4 col-lg-4 pageFive"></div>
            
            <div class="col-sm-4 col-md-4 col-lg-4 pageFive">
            	<h2 class="underline"> <p class="box">  Step 1: Logistics </p> </h2>
            </div>
   
            <div class="col-sm-4 col-md-4 col-lg-4 pageFive"></div>
            
            
            
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo">
            	<table align="center" style="margin: 0px auto;">
            	<tr>
            	<td>
            		<p class="box">
            		Starting City <!-- make this alphabetical order!!  filter -->
            		</p>
            	</td>
            	<td>
            	<p class="box">
                <select ng-model="value" ng-options="wrap.value as wrap.key for wrap in wrappers"></select>
            	</p>
            	</td>
            	</tr>
            </table>
            </div>
            
           
           
           <div class="col-sm-4 col-md-4 col-lg-4 pageTwo">
            <table align="center" style="margin: 0px auto;">
            	<tr>
            	<td>
            		<p class="box">
            		Budget ({{value}}) 
            		</p>
            	</td>
            	<td>
					<p class="box">
					<input type="text" name="currency" ng-model="budget"> 
					</p>
				</td>
				</tr>
			</table>
			</div>
			
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo">
            <table align="center" style="margin: 0px auto;">
            	<tr>
				<td>
					<p class="box">
					Trip Length (days)
					</p>
				</td>
				<td>
					<p class="box">
					<input type="text" name="dayInput" ng-model="tripLength">
					</p>
				</td>
				</tr>
			</table>
			</div>
            
  			
  			<div class="col-sm-4 col-md-4 col-lg-4 pageSix"></div>
  			<div class="col-sm-4 col-md-4 col-lg-4 pageSix"></div>
  			<div class="col-sm-4 col-md-4 col-lg-4 pageSix"></div>
  			 

			<div class="clearfix visible-lg-block pageTwo"></div>
			<div class="clearfix visible-md-block pageTwo"></div>
			
            <div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageThree"><h2 class="underline"><p class="box"> 
            Step 2: What Type of Trip Do You Want? 
            </p></h2></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>


			<div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>
			<div class="col-sm-4 col-md-4 col-lg-4 pageThree">
				<h3><p class="category"> {{inputPictures[inputBatch].category}}  </p> </h3>   <!-- this should say the category, ie weather, activity, etc -->
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>
			
			<div class="col-sm-4 col-md-4 col-lg-4 pagePic">
				<a ng-click="inputClick(inputBatch+1)">
  					<img ng-src="{{inputPictures[inputBatch].paths[0]}}"width="280" height="220"/>
  				</a>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 pagePic">
				<a ng-click="inputClick(inputBatch+1)">
  					<img ng-src="{{inputPictures[inputBatch].paths[1]}}"width="280" height="220"/>
  				</a>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 pagePic">
				<a ng-click="inputClick(inputBatch+1)">
  					<img ng-src="{{inputPictures[inputBatch].paths[2]}}"width="280" height="220"/>
  				</a>
			</div>
			
	
			
			<div class="col-sm-4 col-md-4 col-lg-4 pageOne">
				<h2 ng-show="backArrow==true">
				<p class="box"> 
            	<button class="backArrow nextButton" ng-click="backward()">Change Answers</button>
            	</p></h2>
            	
            </div>
			<div class="col-sm-4 col-md-4 col-lg-4 pageOne">
				<h2>
				<p class="box"> 
            	<button class="recButton" ng-click="nextStep()">Go To Trip Recommendation!</button>
            	</p></h2>
            	<br> (Or {{inputPictures.length - inputBatch}} More Pic Clicks Gets You There)
            	</div>
			<div class="col-sm-4 col-md-4 col-lg-4 pageOne">
				<h2>
				<p class="box"> 
            	<button class="forwardArrow nextButton" ng-click="forward()">Skip</button>
            	</p></h2>
			</div>

        </div>


            
            
            
<div class="slideThree" ng-show="page==3">


			<div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>

			<div class="clearfix visible-lg-block pageTwo"></div>
			<div class="clearfix visible-md-block pageTwo"></div>
			
			<div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            
            <div class="clearfix visible-lg-block pageTwo"></div>
			<div class="clearfix visible-md-block pageTwo"></div>
            
            <div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageThree"><h2 class="underline"><p class="box"> 
            Recommendations! 
            </p></h2></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>


			<div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>
			<div class="col-sm-4 col-md-4 col-lg-4 pageThree">
				<h3><p class="category">  </p> </h3>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 pageThree"></div>
			
			
			
			
			<div class="col-sm-4 col-md-4 col-lg-4 pagePicBig">
				
				<div ng-show="show1">
				
  							<a ng-click="cityClick(0)">
  								<img ng-src="{{e1.path}}" width="280" height="220"/>
  							</a>
  							
  							
  							<p id="cityName">{{e1.experience}} {{e1.location}}</p>
  						
  							
  							
  							<div ng-show="tripLength != null">
  								<p> Total Cost: ${{e1.flightPrice + e1.dailyPrice *tripLength| number:2}}</p>
  							</div>
  							
  							<p> Average Flight Price: ${{e1.flightPrice| number:2}}</p>
  							
  							<p> Cost Per Day: ${{e1.dailyPrice| number:2}}</p>	
  					</div>
  					
			</div>
			
			<div class="col-sm-4 col-md-4 col-lg-4 pagePicBig">
			
				<div ng-show="show2">
  							<a ng-click="cityClick(0)">
  								<img ng-src="{{e2.path}}" width="280" height="220"/>
  							</a>
  							
  							
  							<p id="cityName">{{e2.experience}} {{e2.location}}</p>
  						
  							
  							
  							<div ng-show="tripLength != null">
  								<p> Total Cost: ${{e2.flightPrice + e2.dailyPrice *tripLength| number:2}}</p>
  							</div>
  							
  							<p> Average Flight Price: ${{e2.flightPrice| number:2}}</p>
  							
  							<p> Cost Per Day: ${{e2.dailyPrice| number:2}}</p>  					
  					
  					</div>
  					
  					<div ng-show="!show1">
  						Budget Too Low :(
  					</div>
  					
  					

			</div>
			
			<div class="col-sm-4 col-md-4 col-lg-4 pagePicBig">
			
				<div ng-show="show3">
				
  							<a ng-click="cityClick(0)">
  								<img ng-src="{{e3.path}}" width="280" height="220"/>
  							</a>
  							
  							
  							<p id="cityName">{{e3.experience}} {{e3.location}}</p>
  						
  							
  							
  							<div ng-show="tripLength != null">
  								<p> Total Cost: ${{e3.flightPrice + e3.dailyPrice *tripLength| number:2}}</p>
  							</div>
  							
  							<p> Average Flight Price: ${{e3.flightPrice| number:2}}</p>
  							
  							<p> Cost Per Day: ${{e3.dailyPrice| number:2}}</p>
  							
  				</div>
			</div>
	
	
    </div>
    
</div>
    
    
  
    
</div>
