<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        
            <section class="questions">
            

	<div class="basics">
	
	
	
		<form method="POST"">
        	<table class="filters">	
				<colgroup>
					<col class="question" /> 
					<col class="answer" />
				</colgroup>

				<tbody>
					<tr>
						<h2>Step 1: Basic Info</h2> 
					</tr>
					
					
					<tr>
						<td>Starting City</td> <!-- make this alphabetical order!!  filter -->
						
						
        
                        <td><select ng-model="value" ng-options="wrap.value as wrap.key for wrap in wrappers"></select></td>
					</tr>
					
					<tr>
						<td>Budget ({{value}})</td>  
						<td> <input type="text" name="currency" ng-model="budget"></td> 
					</tr>
					
					<tr>
						<td> Trip Length (days) </td>
						<td><input type="text" name="dayInput" ng-model="tripLength"></td>
					</tr>
			
<!-- 
					<tr>
						<td> Start Date </td>
						<td> <span class="input-append date" data-date-format="mm/dd/yyyy">
        						<input id="dp3" size="16" type="text" value="mm/dd/yyyy"/>
      							<span class="add-on">
      								<i class="icon-calendar" id="cal2"></i>
      							</span>
							</span> </td>
					</tr>	
					
					<tr>
						<td> Group Size </td>
						<td> <input type="text" name="name" ng-model="groupSize">
						
						<a class="friends" href="#">Invite Friends</a> </td>
						
					</tr>
 -->
					
					
					
				</tbody>
			</table>
		</form>


<!-- 
	<div class="citySelect">
					<form>
							<a ng-click='addData()' >Update Database</a>
					</form>
	</div>
 -->
	
	
	
	
</div>


				
            <h2 class="stepTwo">Step 2: Click Your Favorite Pictures to Help Us Learn Your Preferences</h2>
            
            <table class="picAns">
     			
				<colgroup>
				
					<col class="Answer1" /> 
					<col class="Answer2" />
					<col class="Answer3" />
				</colgroup>
<!-- 
				<thead> <tr>
					<th scope="col">Answer 1</th>
					<th scope="col">Answer 2</th> </tr>
					<th scope="col">Answer 3</th> </tr>
				</thead>
 -->
				<tbody>
				
					<tr>
					
						<td>
  							<a ng-click="inputClick(0)">
  								<img ng-src="{{i1}}" name="img1" width="280" height="220"/>
  							</a>
						</td>
						<td>
							<a ng-click="inputClick(1)">
  								<img ng-src="{{i2}}" name="img2" width="280" height="220"/>
  							</a>
						</td>
						<td>
							<a ng-click="inputClick(2)">
  								<img ng-src="{{i3}}" name="img3" width="280" height="220"/>
  							</a>
						</td>
						
					</tr>
  
      			</tbody>
			</table>
			
</section>
            


            
            
            
            
            <section class="discover">
            <h2>Step 3: Pick a Destination</h2>  

            
                 
			
			
<p>

            <table class="destPics">
     			
				<colgroup>
					<col class="Answer1" /> 
					<col class="Answer2" />
					<col class="Answer3" />
				</colgroup>
<!-- 
				<thead> <tr>
					<th scope="col">Answer 1</th>
					<th scope="col">Answer 2</th> </tr>
					<th scope="col">Answer 3</th> </tr>
				</thead>
 -->
				<tbody>
					<tr>
						<td>
						
						
						<div ng-show="d1['path'] != null">
  							<a ng-click="cityClick(0)">
  								<img ng-src="{{d1['path']}}" name="img1" width="280" height="220"/>
  							</a>
  							
  							
  							<p id="cityName"> {{d1['name']}}</p>
  						
  							
  							
  							<div ng-show="tripLength != null">
  								<p> Total Cost: ${{d1['flightPrice']+d1['price']*tripLength| number:2}}</p>
  							</div>
  							
  							<p> Average Flight Price: ${{d1['flightPrice']| number:2}}</p>
  							
  							<p> Cost Per Day: ${{d1['price']| number:2}}</p>
  							
  							
  							
  						</div>  
  								
						</td>
						
						
						
						
						<td>
						
						
						
						<div ng-show="d2['path'] != null">
						
							<a ng-click="cityClick(1)">
  								<img ng-src="{{d2['path']}}" name="img2" width="280" height="220"/>
  							</a>
  							<p id="cityName"> {{d2['name']}}</p>
  							<div ng-show="tripLength != null">
  								<p> Total Cost: ${{d2['flightPrice']+d2['price']*tripLength | number:2}}</p>
  							</div>
  							
  							<p> Average Flight Price: ${{d2['flightPrice']| number:2}}</p>
  							
  							<p> Cost Per Day: ${{d2['price']| number:2}}</p>
  						
  						</div>
  							
  							
						</td>
						
						
						
						
						<td>
						
						
						<div ng-show="d3['path'] != null">
							<a ng-click="cityClick(2)">
  								<img ng-src="{{d3['path']}}" name="img3" width="280" height="220"/>
  							</a>
  							<p id="cityName"> {{d3['name']}}</p>
  							
  							<div ng-show="tripLength != null">
  								<p> Total Cost: ${{d3['flightPrice']+d3['price']*tripLength| number:2}}</p>
  							</div>
  							
  							
  							<p> Average Flight Price: ${{d3['flightPrice']| number:2}}</p>
 
  							
  							<p> Cost Per Day: ${{d3['price']| number:2}}</p>
  							
  						</div>	
  							
  						
  						
						</td>
					</tr>
  
      			</tbody>
			</table>
			
            
            </section>
            
            <p>
            </p>
        </div>
    </div>
</div>
