<div class="container-fluid">
    <div class="row">
        
        
        
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block pageThree"></div>
           
		<div class="clearfix visible-lg-block pageTwo"></div>
		<div class="clearfix visible-md-block pageTwo"></div>
		<div class="clearfix visible-sm-block pageTwo"></div>
		<div class="clearfix visible-xs-block pageTwo"></div>
			
		<div class="clearfix visible-lg-block pageThree"></div>
		<div class="clearfix visible-md-block pageThree"></div>
		<div class="clearfix visible-sm-block pageThree"></div>
		<div class="clearfix visible-xs-block pageThree"></div>
        
        <div class= "slideOne col-xs-2 col-sm-2 col-md-2 col-lg-2 visible-xs-block visible-sm-block visible-md-block visible-lg-block">
        </div>
        
        <div class="col-sm-10 col-md-10 col-lg-10 blogPage ">
        
        <p>Why Travel?</p>
        <ul>
       <!-- 
 <li>It improves your <a class="underline">creativity</a></li>
        
        Living abroad helps creativity, not traveling abroad apparently: http://www.apa.org/pubs/journals/releases/psp9651047.pdf
 -->
        </ul>
        </div>
        
        
     
			<!-- To show the world what could be 
			To show the world as it could be
			
			IT'S THE PEOPLE/COMMUNITY THAT MATTER.  FIND A WAY TO CREATE THAT!
			This has to be more than just empty traveling and fun and learning.  Have to help
			the locals.  To connect.  Amazing stories. Preserve something.  The monastary thing 
			deserves to be here.
			
			My big advantage - my perspective.  My ability to understand differences and similarities
			to blend, to meld two different worlds - idealistic and practical - together.  
			
			
			
			flashpackers vs backpackers:
			http://ezinearticles.com/?What-is-a-Flashpacker?-10-Traits-That-Separate-Flashpackers-From-Backpackers&id=1714748
			http://www.smh.com.au/news/world/flashpackers-do-it-in-style/2006/02/18/1140151848856.html?page=3
			
			
			The trick is to combine your waking rational abilities with the infinite possibilities of your dreams
			...because if you can do that, you can do anything.
			
			Maybe the thing to do is to get people to feel/understand this feeling I have
			that I'm in a dream.  To get them out of the "reality" of their situation.  Sparked by 
			the film, holy moment, in Waking life.
			
			-->
 
        
        
        
        
        
    </div>
</div>