*{
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1 a{
	text-shadow: -3px 3px 3px #999999;	
}


section{
	border-top: 1px solid black;
	
}

a:link { color: #FF; }
a:visited { color: #FFFFFF; }
a:hover { color: #F60; cursor: pointer; }
a:active {color: #B2F511; }


td a:link { color: #FF; }
td a:visited { color: #FFFFFF; }
td a:hover { color: #F60; cursor: pointer; }

td a:active {color: #B2F511; }

td img{
	-moz-box-shadow:    -3px 3px 3px 0px #999999;
  -webkit-box-shadow: -3px 3px 3px 0px #999999;
  box-shadow:         -3px 3px 3px 0px #999999;
}

td img:hover{
-moz-box-shadow:    0px 0px 0px 5px #F60;
  -webkit-box-shadow: 0px 0px 0px 5px #F60;
  box-shadow:         0px 0px 0px 5px #F60;
}

td img:active{
-moz-box-shadow:    0px 0px 0px 5px #B2F511;
  -webkit-box-shadow: 0px 0px 0px 5px #B2F511;
  box-shadow:         0px 0px 0px 5px #B2F511;
}



.basics{
	float:left;
	width: 300px;
	height: 100%;
	border-right: 1px transparent;
	
	position: absolute;
    left: 0px;
    top: 100px;
	
}




.citySelect{
	padding: 10px 0;
	text-align: left;

}


.stepTwo{
	position: absolute;
	overflow:scroll;
	white-space:nowrap;
    left: 320px;
    top: 100px;
}

.picAns{
	text-align: center;
	overflow:scroll;
	white-space:nowrap;
	
	position: absolute;
    left: 320px;
    top: 120px;
}


.destPics{
	text-align: center;
	overflow:scroll;
	white-space:nowrap;
	
	position: absolute;
    left: 320px;
    top: 400px;
}



.basics input{
    	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	    	width: 100px;
	    	text-align: center;
	    	
	
}

img{
border: 0;
    	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

.basics td{
	text-align: right;
}



.citySelect input{
border: 0;
    	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	    	width: 150px;
	    	text-align: center;	
	    	
}



.coming{
	text-align: center;
	font-size: 40px;
	padding: 60px;
}



.datepicker:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 190px;
}


td, th { padding: 10px; }

.questions {
	width: 100%;
	overflow: auto;
	text-align: left;
	height: 280px;
	text-transform: normal;
	background-color: #B0E2FF;

}




.discover{
	background-color: #FFFFFF;
	color: #82D0FF;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	text-shadow: -1px 1px 0px #999999;

	text-transform: normal;
	letter-spacing: 0px;
	overflow: auto;
	text-align: left;
	height: 300px;
	
	
}

.discover h2{
	background-color: #FFFFFF;
	color: #82D0FF;
	text-shadow: -1px 1px 0px #999999;
	text-align: left;
}

