<div class="container-fluid">
    <div class="row" >
        
		
		 <div class= "slideOne">
			<div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageTwo"></div>

			<div class="clearfix visible-lg-block pageTwo"></div>
			<div class="clearfix visible-md-block pageTwo"></div>
			<div class="clearfix visible-sm-block pageTwo"></div>
			
            <div class="col-sm-12 col-md-12 col-lg-12 blogPage">
            
            <!-- 	BLOG TITLE - FROM FINANCE TO FREEDOM -->

	       	<p>Hi world!  My name is Forrest.  I'm a 25 year old guy from the US,
	       	leaving behind a high-paying job at a hedge fund for long-term,
        	low-budget travel around the world.  But let's back up - how did I end
        	up here?</p>
			<br>
			
			<p> I grew up in Kansas.  Maybe it's because there wasn't much to do there and we had to 
			create our own entertainment, maybe it's just who I am, but as a kid I developed a strong
			urge for adventure.  My friends and I would go explore where we could, riding our bikes
			around and occasionally getting into trouble for our shenanigans.  My adventure-seeking 
			continued to grow with time.  I picked up pole vaulting in high school, which was a thrilling
			outlet for my energy.  In college, I joined a great group of guys in a fraternity.  My degree in
			neuroscience really helped me appreciate both the experiences and the dangers 
			of the substances I experimented with.  An amazing, fun, transformative, and
			surreal four years later, I graduated and was ready to move on.
			</p>
			<br>
			
			<p>And so I entered the "real world," a bright-eyed kid armed with a strong 
			sense of optimism and a newly acquired degree.  Instead 
			of following the traditional neuroscience path of becoming a doctor or doing research, 
			I decided this was my chance to try out a job, make some money, and see what else was out there.  
			I was really lucky and managed to get a job at Goldman Sachs, so I was off to NYC!  
			Say what you want about the vampire squids, but I have a ton of respect for Goldman.  
			I was surrounded by talented, driven people, and they taught me how to really work.  
			At the same time, I got to live in one of the most amazing cities I've ever been to 
			(more on that later)!  I had a great group of friends, enough money for the expensive 
			lifestyle, and the youthful endurance needed to go out in the city that never 
			sleeps.</p>
			<br>
			
			<p>An intense year later, I again got lucky and was offered a job at a 
			quantitative hedge fund in Connecticut.  I accepted, jumping at the chance to 
			learn from former Harvard professors and some of the most respected people in 
			the quant world.  But as I settled in, I realized I wasn't happy.  Yes, I was 
			making more money than a 23 year old probably should and was living what looked
			like a nice life.  Black cars drove me from Connecticut back to NYC where I still 
			lived.  I could (and am embarrassed to say, sometimes did) spend over $500 a 
			night on dinner or going out.  But I wasn't happy.  I could feel my optimism, 
			idealism, and passion for living life draining away, and that sucked. </p>
			<br>
			
			
			<p>Unsurprisingly, finance seemed like a place where most people worked just for the money,
			without some underlying passion or sense of purpose.  What was I creating?  I made money 
			into more money and I guess that helped some people.  Why did I have to sit at this desk for ten hours a day?  
			This was the 21st century; all of my work could be done remotely.  I could be out 
			seeing the world!  As these thoughts gnawed at me, I decided I needed to go.  Life 
			wasn't about making money so I could buy nice things, then needing to make even more 
			money to buy even nicer things.  I wanted to live an inspired life filled with 
			amazing experiences and help others do the same.  I wanted to surround myself 
			with passionate, inspired people who were living the dream! </p>
			
			<br>
			<p>So here I am.  Leaving behind the safety of a good, stable job for the adventure 
			of the road.  Working to create something I believe in, to help others see the world that
			I'm lucky enough to experience.  </p>
			
            </div>

			
		</div> 
        
        
        
        
    </div>
</div>