<div class="container-fluid">
    <div class="row" >
        
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block pageTwo"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block pageThree"></div>
           
		<div class="clearfix visible-lg-block pageTwo"></div>
		<div class="clearfix visible-md-block pageTwo"></div>
		<div class="clearfix visible-sm-block pageTwo"></div>
		<div class="clearfix visible-xs-block pageTwo"></div>
			
		<div class="clearfix visible-lg-block pageThree"></div>
		<div class="clearfix visible-md-block pageThree"></div>
		<div class="clearfix visible-sm-block pageThree"></div>
		<div class="clearfix visible-xs-block pageThree"></div>
			
		
		 <div class= "slideOne col-xs-2 col-sm-2 col-md-2 col-lg-2 visible-xs-block visible-sm-block visible-md-block visible-lg-block">
			

			<div class="blogBar">
			<a ng-click="set(0)">Me</a>
			</div>
			<br>
			<div class="blogBar">
			<a ng-click="set(1)">Living Homelessly</a>
			</div>
			
			<br>
			
			<div class="blogBar">
			<a ng-click="set(2)">Goodbye Corporate Life</a>
			</div>
			
			<br>
			
			<div class="blogBar">
			<a ng-click="set(3)">Gear/Expenses</a>
			</div>
			<br>
			
			<div class="blogBar">
			<a ng-click="set(4)">Bangkok - First Day</a>
			</div>
			<br>
			
<!-- 
			<div class="blogBar">
			<a ng-click="set(4)">Hopes/Dreams/Fears</a>
			</div>
			
			
			
 -->
 
 			
		</div>
			
			
			
			
            <div class="col-sm-10 col-md-10 col-lg-10 blogPage " ng-show="postNum==0">
            
            <!-- 	BLOG TITLE - FROM FINANCE TO FREEDOM -->

			<p class="blogHead">Me</p>
			
	       	<p>Hi world!  My name is Forrest.  I'm a 25 year old guy from the US,
	       	leaving behind a high-paying job at a hedge fund for long-term,
        	low-budget travel around the world.  Here's the story of how I got here.</p>
			<br>
			
			<p> 
			I grew up in Kansas. Maybe it's because there wasn't much to do there and I had to 
			make my own entertainment, maybe it's just who I am, but I developed a taste for exploration and adventure. 
			My friends and I would ride our bikes around when we were younger, checking out new neighborhoods, occasionally 
			getting into trouble for our shenanigans. My adventure-seeking continued to grow with time. I picked up pole vaulting in high school, which was a great 
			outlet for my energy. In college, I joined an awesome group of guys in a fraternity. 
			We drank a lot, did secret fraternity stuff, the whole deal. I studied neuroscience in school, and spent 
			as much time experimenting with substances outside of class as I did in my labs. 
			An amazing, fun, transformative, and surreal four years later, I graduated and was ready to move on.
			
			
			</p>
			<br>
			
			<p>
			And so I entered the "real world," a bright-eyed kid armed with a strong 
			sense of optimism and a newly acquired degree. Instead 
			of following the traditional neuroscience path of becoming a doctor or doing research, 
			I decided this was my chance to try out a job, make some money, and see what else was out there. 
			I was really lucky and managed to get a job at Goldman Sachs, so I was off to NYC! 
			Say what you want about the vampire squids, but I have a ton of respect for Goldman. 
			I was surrounded by talented, driven people, and they taught me how to really work. 
			At the same time, I got to live in one of the most amazing cities I've ever been to 
			(more on that later)! I had a great group of friends, enough money for the expensive 
			lifestyle, and the youthful endurance needed to go out in the city that never 
			sleeps.
			
			</p>
			<br>
			
			<p>
			A fun and intense year later, I again got lucky and was offered a job at a 
			quantitative hedge fund in Connecticut. I accepted, jumping at the chance to 
			learn from former Harvard professors and some of the most respected people in 
			the quant world. But as I settled in, I realized I wasn't happy. Yes, I was 
			making more money than a 23 year old probably should and was living what looked 
			like a nice life. Black cars drove me from Connecticut back to NYC where I still 
			lived. I could (and am embarrassed to say, did) spend hundreds of dollars a 
			night on dinner or going out. But I wasn't happy. Life 
			wasn't about making money so I could buy nice things, then needing to make even more 
			money to buy even nicer things. I wanted to live an inspired life filled with 
			amazing people and experiences and help others do the same. I wanted to surround myself 
			with passionate, inspired people who were living the dream!
			
			
			</p>
			
			<br>
			<p>
			So here I am. Leaving behind the safety of a good, stable job for the adventure 
			of the road. Working to create something I believe in, to help others see the world that 
			I'm lucky enough to experience.
			
			</p>
			
			
			
			
			<br>
			<br>
			
            </div>

			
			<div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==1">
            
            <p class="blogHead">Living Homelessly</p>
 			
 			<p>
 			At the end of January I got rid of my apartment, packed everything I needed into my backpack, 
 			and started living homelessly. It's been a great month, and especially great as my last 
 			month in the country! I've been able to see good friends one last time, save some 
 			extra money for my travels, and also test out my travel gear. I definitely 
 			recommend it for those who are planning a nomadic lifestlye.
 			
 			</p>
 			<br>
 			<p>
 			Still, it's not for everyone. I remember my first day of being homeless - I got back to the city 
 			around 6pm, the sun was going down, and I felt nervous that I might not find a place 
 			to sleep for the night. Luckily, my cousin James was around. We grabbed a drink, hung out 
 			at the bar for awhile, and I ended up crashing on his couch. It turned out to be a really fun night! 
 			Since then, I haven't felt that same twinge of nervousness. Instead, I've 
 			felt empowered, free to explore and move about. I've stayed with friends in New York, Connecticut, and even Colorado. 
 			With no worries of where I need to end up for the night, I've been able to be much more spontaneous.
 			
 			</p>
 			<br>
 			<p>
 			I've had great nights that started with no plans. One night I ended up going out with this cool girl 
 			I first met on Tinder, meeting up with my friend from school, 
 			and getting brunch the next morning before work (weekday brunch is awesome by the way)! I've also had nights that went less smoothly. 
 			Another night I was at my friend's party, having a great time. We decided to go out to the lower 
 			east side and bust out our sweet dance moves. We got separated during the night, and I ended up not 
 			being able to stay at her place like I'd thought I would. I had this realization at around 3am. 
 			It also happened to be one of the coldest nights of the year! Luckily, another friend lived around 
 			the area, and I was able to sleep at his place. All in all, it's been a great experience. Even 
 			the unexpected, tough times have ended up as good memories.
 			
 			
 			<p/>
 			<br>
 			
 			<p>
 			Don't get me wrong, it's definitely nice to have a home. It's comfortable and stable, 
 			a great place to come back to and relax. You don't worry about where you're going to 
 			sleep, or shower, or go to the bathroom (turns out a gym membership is super useful, at least for the latter two). 
 			You don't worry about how you're going to 
 			fit a months worth of work clothes into a backpack. 
 			But at the same time, an apartment can become 
 			burdensome. It's been very freeing to finally remove the clutter from my life. 
 			My apartment was full of stuff I didn't need, but that I held onto, for some distant 
 			day in the future. I think it was mostly a fear of letting go. It's been nice to let go 
 			of that stuff, and then of my apartment too. 
 			Tomorrow, I'll be fully uncluttering my life by letting go of one last thing - my job.
 			
 			
 			
 			
 		<!-- 
	It's also been 
 			comfortable and stable.  I've also held onto it, for some distant day in the future.
 			
 -->
 			</p>
 			<br>
 			<p>
 			
			</p>
			
			<br>
			
            </div>


			
			
			<div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==2">
            

			<p class="blogHead">Goodbye Corporate Life</p>
			
			<p>
			My last corporate email:
			</p>
			<br>
			<p>
			All,
			</p>
			
			<br>
			<p>
			Today is my last day at AQR.  Even though this wasn’t the place for me, I’m thankful 
			for my time here and for everything I’ve learned.  I now have a better understanding of 
			finance, of the “real world,” and more importantly, of myself.  I’ve learned to be more 
			practical, while realizing that I’m a deeply idealistic person.  I’ve learned to 
			appreciate the structure and routine of daily corporate life, while realizing that I 
			thrive in a dynamic, flexible environment.  Ultimately, I’ve learned that staying here 
			would mean not staying true to myself.
			</p>
			
			<br>
			
			<p>
			That’s too bad, since staying here would put me on a very nice, comfortable path.  
			Year after year, we make more money.  We eat out at ever-fancier restaurants, then 
			come back to our progressively nicer houses.  We take our families on ever-more-luxurious 
			vacations.  But this isn’t the life I dream of.  Sure, it sounds like a good life.  
			I can’t argue with that.  It turns out that $400 meals can be pretty tasty.  And it’s 
			almost ridiculous to not be upset after waking up to a $600 bill from the night before 
			(thanks again for splitting that guys).  But still, I feel a lack of fulfillment.
			</p>
			<br>
			
			<p>
			What’s important to me is to have a purpose, to fight for something meaningful.  
			Yes, maybe our purpose is to help participants in underfunded pensions receive the 
			benefits they’ve been promised.  But if I really believed in that, I would work for 
			less money.  Instead, over the past few years I’ve become more and more obsessed with 
			making money, in part because I’ve used it as a measure of myself.  I worry that I’ve 
			lost the sense of purpose that I once felt, the desire to help the world in some 
			meaningful way.  Of course, I say all of this from a position of privilege, while 
			making enough to not be worried about money.  But now that I’m here, this is an 
			opportunity I can’t waste.
			</p>
			
			<br>
			<p>
			So I’m making a change.  Wiping away this clear path toward “success” was tough.  
			The road ahead of me is less clear.  But too many people avoid taking the first step 
			forward, just because they can’t see where the path leads.  I don’t want to live my 
			life like that.  I’m off in pursuit of something more.
			</p>
			
			<br>
			<p>
			I’ll be traveling the world, heading out on a one way flight to Thailand on March 11.  
			Not sure how long I’ll be abroad – I’m thinking a year or so to start.  At the same 
			time, I’ll be working on my own project.  You can follow my progress and travel 
			experiences here: <a href="#/blog">http://www.splashee.com/#/blog</a>.  Hope to 
			see some of you out on the road.
			</p>
			<br>
			<p>
			- Forrest
			</p>
			<br>
			
		</div> 
        
        
        
        
        
        
        <div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==3">
            
            
            <p class="blogHead">Gear/Expenses</p>
			
			<br>
			
			
			
            <p class="underline">General</p> 
			<p><a href="http://www.amazon.com/gp/product/B006P5Q02Q/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B006P5Q02Q&linkCode=as2&tag=splashee-20&linkId=2E6ZOYIIGZB6OWSF">
			Osprey Farpoint Travel Backpack: $150</a></p>
			<p><a href="http://www.amazon.com/gp/product/B001Q3KLEK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=
			1789&creative=9325&creativeASIN=B001Q3KLEK&linkCode=as2&tag=splashee-20&linkId=7T72AX6BGEIR5OPO">
			Sea to Summit Drylite Towel: $27</a></p>
			<img class="rotate" ng-src="../img/picPool/backpack.jpg" width="480" height="350"/>
			
			<p><a href="http://www.amazon.com/gp/product/B000ZOUB5A/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B000ZOUB5A&linkCode=as2&tag=splashee-20&linkId=HXLBHDGX25AHLY4A">
			Master Lock Combination Padlock: $13</a></p>
			<p><a href="http://www.amazon.com/gp/product/B00N4NTHPE/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B00N4NTHPE&linkCode=as2&tag=splashee-20&linkId=TFOPCXVYTZ56F2HB">
			TSA Luggage Lock: $14</a></p>
			
			<p>"Exile and the Kingdom": gift from Janet</p>
			<p> "The Little Prince": gift from Janet</p>
			<p>"The Dharma Bums": gift from Renee</p>
			<p>Compression Bag</p>
			<p>Sunglasses</p>
			
			<p><a href="http://www.amazon.com/gp/product/B00F0PO2IG/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B00F0PO2IG&linkCode=as2&tag=splashee-20&linkId=G2QHDSBDIE4HLIPW">
			Umbrella</a></p>
			
			<br>
			
			<p class="underline">Clothes</p> 
			<p><a href="http://www.amazon.com/gp/product/B0036ZA060/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=
			1789&creative=9325&creativeASIN=B0036ZA060&linkCode=as2&tag=splashee-20&linkId=OBP3D7KFM2KNTQIW">
			ExOfficio Boxers (x3): $20 (x3)</a></p>
			<p><a href="http://www.amazon.com/gp/product/B00B5J8854/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B00B5J8854&linkCode=as2&tag=splashee-20&linkId=3Z5LU2VV2IW277YO">
			Darn Tough Wool Socks (x3): $13 (x3)</a></p>
			
			<p><a href="http://www.amazon.com/gp/product/B0054IH4N4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=
			1789&creative=9325&creativeASIN=B0054IH4N4&linkCode=as2&tag=splashee-20&linkId=QKYGTVQNL6IPW7K2">
			Eagle Creek Money Belt: $17</a></p>
			<p><a href="http://www.amazon.com/gp/product/B00KXDMVGU/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=
			1789&creative=9325&creativeASIN=B00KXDMVGU&linkCode=as2&tag=splashee-20&linkId=SGQVD52ALT3WJJYO">
			Chaco Men's Flip Flops: $41</a></p>
			<p>Sweater</p>
			<p>Athletic shorts (x2)</p>
			<p>Light Jacket</p>
			<p>Fleece</p>
			<p>Swim Trunks</p>
			<p>Athletic Jersey</p>
			<p>Pants</p>
			<p>Boxer Briefs</p>
			<p>T-shirt (x2)</p>
			<p>Button-down Shirt</p>
			<p>Belt</p>
			<br>
			
			<p class="underline">Electronics</p> 
			
			
			<p><a href="http://www.amazon.com/gp/product/B00CSJ50LA/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=
			1789&creative=9325&creativeASIN=B00CSJ50LA&linkCode=as2&tag=splashee-20&linkId=PELAS5GF2MDAKGI4">
			Universal Camera Lens Kit for Smartphones: $20</a></p>
			
			<p><a href="http://www.amazon.com/gp/product/B005AF0C2G/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B005AF0C2G&linkCode=as2&tag=splashee-20&linkId=SFD2IXBB5CKTL2FB">
			Lifetrons Travel Adapter: $24</a></p>
			
			<p><a href="http://www.amazon.com/gp/product/B009PK9S90/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B009PK9S90&linkCode=as2&tag=splashee-20&linkId=NSMZLRMWPGDCVS7B">
			GoPro HERO3: Silver Edition</a></p>
			<p>Samsung S5 Smartphone</p>
			<p>Macbook Pro</p>
			<p>Various Power Cords</p>
			<p>Electric Razor</p>
			
			
			
			
			
			
			
			
			
			
			<br>
			
			<p class="underline">Health</p>
			<p>Patriot International Medical Insurance: $476</p>
			<p>Antibiotics (Cipro, Z-Pak): $11</p>
			<p><a href="http://www.amazon.com/gp/product/B00016WU2E/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B00016WU2E&linkCode=as2&tag=splashee-20&linkId=ZLSFCASSTZHHNGKN">
			Nature's Way Activated Charcoal Pills: $6</a></p>
			
			<p><a href="http://www.amazon.com/gp/product/B003A4HSIA/ref=as_li_qf_sp_asin_il_tl?ie=
			UTF8&camp=1789&creative=9325&creativeASIN=B003A4HSIA&linkCode=as2&tag=splashee-20&linkId=2RAUSTVW3WGQX4ZC">
			Colgate Travel Toothbrush (x6): $8</a></p>
			
			<p>Antihistamines, gauze, topical antibiotics: $70</p>
			<p>EpiPen: $25</p>
			<p>Condoms: $19</p>
			<br>

			
			<p class="underline">Travel</p>
			<p>One-Way Flight from NYC to Bangkok, Thailand: $393</p>
			<p>Round Trip Flight from Chiang Mai to Tokyo, Japan: $473</p>
			<p>Round Trip Flight from Istanbul to NYC: $643</p>
			<p>Extra passport pages: $82</p>
			<p>US Passport</p>
			
			<br>
			
			
			<p class="underline">Finances</p>
			<p>Chase Sapphire Preferred Credit Card - No FX fees, decent FX rates</p>
			<p>Charles Schwab High Yield Checking Account - Reimbursed for all ATM fees, even internationally</p>
			
						
		</div> 
        
        
        
        
        <div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==40">
            

			<p class="blogHead">Hopes/Dreams/Fears</p>
			
			<br>
			<p>What do I hope to accomplish over this next period of my life?  I hope to see the world
			and the amazing people and experiences it's filled with. To understand different perspectives
			and ways of life.  To be amazed and shocked, to question what I know and to grow from that.
			I want to put myself in new, untested environments.  To gauge my current
			views against what are now only unknown unknowns.
			I imagine there will be plenty of "what the fuck!?" moments - both good and
			bad.  
			
			Though there will be locals, backpackers, and other people around me, I imagine my true
			company will be myself.  It'll be a time to reflect, to enjoy my own company and
			better understand who I am and what I want.  I have a certain set of ideas now, 
			and we'll see how these hold up.
			
			No matter what, I'll treasure this time and opportunity that I have.  But I do fear some
			consequences.  Not of disease, injury, and crime, though those are real issues.  I fear
			that this trip will take me off the deep end. That by becoming some blend of all these different
			worlds, I'll never be able to integrate into any individual one. That I'll be so changed by the experience that
			I wont ever accept a more "normal" life.  I know already that's
			a part of my work attitude.  I'm constantly reaching, working to create and improve.  At first I worried that
			I may not ever truly be happy if I'm never satisfied with the status quo.  Over time, I've
			learned to enjoy the process of constantly reaching, and not the accomplishment of reaching some 
			given target.  I think this could also be a dangerous attiude for relationships.  So far it hasn't
			been the same, but then again, I've lived and enjoyed the single life for quite awhile, so maybe something's thre.
			
			
			</p>
			
			
		</div> 
        
        
        <div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==4">
            

			<p class="blogHead">Bangkok - First Day</p>
			
			<br>
			
			<p>After what felt like a surprisingly short flight from NYC to Bangkok (layover in Stockholm),
			I landed in Bangkok!  First things first - I walked around the airport looking for food to 
			refuel before trying to find my hostel.  It took me a couple tries to follow
			the signs to the food court; apparently you're supposed to walk through the bathrooms to 
			find the food court on the other side.  I got 35 baht worth of food tickets
			(~33 baht = 1 USD), and used those to buy a water and some stir fried veggies over rice.  At the
			sauce station, I decided to be bold and ladle some of this mystery brown sauce over part of my
			rice.  Not my best move.  It ended up being this kind of heavy, stinky, sweet-sour souce.
			Oh well, live and learn.  The natural flavor of the stir friend veggies was pretty good, 
			so all in all still a solid meal.  At this point, I figured I now had ~1 hour timeframe 
			to get to my hostel before the diarrhea hit :O !  Gotta perform under pressure.  Luckily,
			hostelworld had really straightforward directions, and it was a nice trip over to the 
			Saphaipae Hostel.  Also, no diarrhea!  Maybe the airport food was just really clean,
			maybe the boiling hot water you dip the utensils in at the utensil station actually killed 
			some germs.
			</p>
			<br>
			
			<img ng-src="../img/picPool/Hostel.jpg" width="280" height="220"/>
			
			<p>
			I made my way up to my room, which was a 10 bed mixed room.  Nice, clean quarters,
			with air conditioning too, all for 10 USD/night.  There are two
			dudes and a girl in there when I arrive, and we start chatting. We talk about Bangkok, partying,
			the <a class="underline" href="http://en.wikipedia.org/wiki/Bali_Nine">Bali Nine</a>, relationships
			on the road, a whole bunch of stuff.  
			
			I find the dynamic of dating while both people are traveling really interesting. 
			One of the guys has been traveling since 2011, and
			has recently been dating a Finnish girl.  They're going through a rough patch and she's out
			of the country, but apparently they have a pretty sweet apartment in downtown Bangkok so 
			who knows where that's going. 
			</p>
			<br>
			
			<img ng-src="../img/picPool/Alley.jpg" width="280" height="220"/>
			<img ng-src="../img/picPool/StreetMeat.jpg" width="280" height="220"/>
			<p>
			We get to talking about activities for the day.  It turns out the girl is leaving the hostel
			today, and she gives me a couple thousand Cambodian riel (in case I end up going there) before
			she heads out.  It converts to less than 1 USD, but maybe good for a meal or something.
			One of the guys also heads out, after deciding to climb
			up this 49-story abandoned <a class="underline" href="https://www.youtube.com/watch?v=IUoGi_KGDbM">
			"ghost tower"</a>.  It looked pretty sweet, but I wanted to explore the area some more first, 
			so I decided to give myself a walking tour around the <a class="underline" href="http://en.wikipedia.org/wiki/Bang_Rak_District">Bang Rak</a> 
			district where my hostel is.  I wandered away from the more commercial/touristy areas, into the alleys
			that were lined with little stands.  The atmospere reminded me a lot of China, maybe Shanghai, 
			but cleaner, more organized, and a bit quieter.  All the delicious smells from the street
			foods were calling to me, so I stopped for another small meal.  I went for some mystery 
			street meat, with some kind of leafy green vegetable, over rice.  The meat was nice, savory,
			and stew-y, with some bitterness from the veggies.  Pretty flavorful and overall, nice solid
			meal.  I was more worried about how my stomach would handle this meal from a random street
			stand, but still, the iron stomach held strong :) .
			</p>
			<br>
			
			
			<img ng-src="../img/picPool/BridgeView.jpg" width="280" height="220"/>
			<p>
			After wandering what felt like a few miles in each direction, I got lost.  It was a
			nice chance to talk to some locals and try to figure out directions (backup pre-downloaded 
			map on my phone, and also a map from the hostel, but I'd rather ask someone).  I talked to a few
			people who looked around my age, and they all spoke decent English.  Apparently not good enough,
			because the last kid I asked directions from told me the opposite way, and so I ended up accidentally 
			crossing the Chao Phraya River.  No biggie, there was a nice view from the bridge,
			I got some extra exercise, and saw more of the city.  I also got pretty good at dodging
			cars, since there were almost no stop lights in the area, and crossing the street
			was like a real life game of frogger.</p>
			<br>
			
			<!-- 

			<p>Thoughts</p>
			
			
			
			
			
			<p>This started off being a post about the events of today.  Who I've been hanging out with,
			what I've been spending time doing, what has excited me, frustrated me, surprised me, etc.  
			That stuff is kind of interesting.  But after
			spending today walking and eating my way around Bangkok, I came back home (to the hostel), 
			opened up "The Little Prince," and 
			did some reading.  That got me to do some thinking.  
			
			Over the course of my travels, I fully expect to be changed by my experiences.  These experiences
			will probably help me to grow as a person.  Before today, I'd thought that would be the biggest
			benefit of taking this time off to travel.  But now I think the more important part is just taking
			time off, away from the daily pressures and routine of work.  As I walked down the 
			street today, I saw people going about their everyday lives.  The everyday 
			lives of people in Bangkok are not so different from the everyday lives of people in New York.
			People think about whether they're doing a good job at work.  They worry if they're going 
			to be able to pick their kids up on time.  Maybe it's about time to take their car (or
			moped in Thailand) in for a checkup. They focus on immediate, tangible
			issues and goals.  It's similar to keeping your inbox clean.  It feels very productive
			to manage your inbox, responding to and categorizing new emails. But you can easily 
			lose sight of the big picture - are you really doing the most essential thing to reach
			your goals right now?			
			
			
			
			
			
			
			
			What do I hope to accomplish over this next period of my life?  I hope to see the world
			and the amazing people and experiences it's filled with. To understand different perspectives
			and ways of life.  To be amazed and shocked, to question what I know and to grow from that.
			I want to put myself in new, untested environments.  To gauge my current
			views against what are now only unknown unknowns.
			I imagine there will be plenty of "what the fuck!?" moments - both good and
			bad.  
			
			Though there will be locals, backpackers, and other people around me, I imagine my true
			company will be myself.  It'll be a time to reflect, to enjoy my own company and
			better understand who I am and what I want.  I have a certain set of ideas now, 
			and we'll see how these hold up.
			
			No matter what, I'll treasure this time and opportunity that I have.  But I do fear some
			consequences.  Not of disease, injury, and crime, though those are real issues.  I fear
			that this trip will take me off the deep end. That by becoming some blend of all these different
			worlds, I'll never be able to integrate into any individual one. That I'll be so changed by the experience that
			I wont ever accept a more "normal" life.  I know already that's
			a part of my work attitude.  I'm constantly reaching, working to create and improve.  At first I worried that
			I may not ever truly be happy if I'm never satisfied with the status quo.  Over time, I've
			learned to enjoy the process of constantly reaching, and not the accomplishment of reaching some 
			given target.  I think this could also be a dangerous attiude for relationships.  So far it hasn't
			been the same, but then again, I've lived and enjoyed the single life for quite awhile, so maybe something's thre.
			
			
			</p>
			
 -->
			
		</div>
		
		
		
		
		<div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==5">
            

			<p class="blogHead">Bangkok - Day Two Highlights</p>
			
			<br>
			<p>Lunch</p>
			<p>
			Had some good food and nice conversation at lunch.  I was on my way to check out the 
			Bangkok Arts and Culture Center, got hungry, so started scouting out restaurants.  Finally,
			I decided to go into this small-ish place that was pretty filled with local people.  I sat
			down and pointed to a picture of what looked like flat noodles and meat.  The owner
			warned me that it was spicy, I told him I can handle spicy, and we started talking.  Turns out
			he's wasn't Thai, he was actually Chinese (third generation in Thailand).  As I found out later, Chinese people
			seem to integrate pretty well into Thailand.  I guess he'd integrated a bit too well and
			didn't speak Mandarin, and since my Thai-speaking abilities were non-existent so far, we 
			stumbled along in English.  I capped off that meal with some interesting dessert, which
			he explained was some red, gel-like water-chestnut, relatively rare, thick-skinned coconut
			(1 of these for 4 regular coconuts), in coconut milk/syrup.
			</p>
			
			
			<p>Bangkok Arts and Culture Center</p>
			<p>Armed with my pre-loaded route on Google Maps, I walked around looking for the Bangkok
			Arts and Culture Center (BACC).  As I mentioned above, I took a quick detour for lunch.
			On the way, I also discovered this impromptu live music played by overall-wearing 
			high-schoolers at this mall-ish place called I'm Park.  Stores 
			at the mall included Domino's, a math workout center, and a Botox clinic.  I continued on,
			by the National Stadium (host of the FIFA 2015 World Deaf Futsal Championships) and finally to the 
			BACC.
			
			<p>Asiatique with Gift</p>
			I met up this evening with Gift, a friend from Wash U.  She's been back in Thailand for
			about a year now.
			got good spicy papaya salad, some thai sausage (fermented and regular).  Talked about
			buddhism, yoga, superstition, Thai concepts of time, Thai relationships, college, 
			self-medication, etc.
			
			
			
			<p>Thoughts</p>
			
			
		</div> 
		
		
		
		 <div class="col-sm-10 col-md-10 col-lg-10 blogPage" ng-show="postNum==5313">
            

			<p class="blogHead">Current Theories</p>
			
			<br>
			<p>My price level adapts.  Baseline is reasonable, going for good value.  Might seem silly
			to distinguish between 30 baht vs 60 baht, when difference is only $1.  I instinctively do though.</p>
			<p>Inherently I feel less satisfied with doing nothing/status quo than others appear to feel.
			Maybe my Maslow hierarchy is better met?</p>
			<p>I think I can not give enough importance to other people's feelings.</p>
			<p>Ideal pursuit of mission involves some balance of playfulness and urgency.</p>
			<p>Looking at this now, most backpacking seems really empty.  Just people going experience-
			gathering.  What really matters is how you affect other people.  Creating something
			beautiful and inspiring.  For travel, it may be sharing your own culture with theirs.
			Maybe that's the beauty in backpacking.</p>
			<p>Finance is too focused on oneself.  Deeper satisfaction comes from making others happy.</p>
			<p>Backpacking can both make you more tolerant and less tolerant.  Greater tolerance/patience
			comes as you're exposed to new cultures and see more.  But because of the freedom of backpacking,
			one can also choose to remove himself from situations he doesn't like.  That can make you
			very intolerant of other things (like people in high finance).  Be careful of this.</p>
			<p>Creating your own meaning.  Like the Little Prince Quote - You are beautiful, but you are
			empty.   One cannot die for you.</p>
			<p>More important than just traveling for a year, is to have this year to myself, to just
			explore myself.  This time is invaluable.  I haven't thought thoughts like these in awhile, 
			and it's only the first day.</p>

			
			
			
		</div> 
        
        
    </div>
</div>