<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        
        
        
        	
 <!--       
 
 
 			Friends and Family
 			
 			While I'm really excited to be on the trip of a lifetime, it's hard to leave behind my 
 			friends and family.  My family has always been there for me, I can talk to them about anything.
 			There were years in college where I was bad about calling home, but still they were there when
 			I came back.  I know, and trust, that despite the travels and the distance, that we'll be
 			just as close, if not closer when I come back.
 			
 			I feel the same way about my friends.  Kind of.
 			
 			
 			
 			
 
 
 
 	
 	//talk about family and how they're continuous support, always there
 	
 	
	
	Cambodia - ankor wat, definitely.  Don't take the train.  There are wars between Cambodia and Thailand over temple.
				Go to major cities.  Stick to tourist place.
	
	Thailand - too noisy and too hot, different culture.  
	
	North of singapore - Myanmar (Burma) - just opened border.
	
	Vietnam - safe.
	
	Indonesia - can go
	
	
-->


            

            <p>
            </p>
        </div>
    </div>
</div>