<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-4 col-md-4 col-lg-4 pageOne"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageOne"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 visible-sm-block visible-md-block visible-lg-block pageOne"></div>

			<div class="clearfix visible-lg-block pageOne"></div>
			<div class="clearfix visible-md-block pageOne"></div>
			
            <div class="col-sm-12 col-md-12 col-lg-12 pageOne"><h2><p class="wrapBox"> 
          
			email: zfx0726@gmail.com
            </p></h2>
            
          </div>
        

    </div>
</div>