<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        
        
        
        	
 <!--       	<p>I'm leaving behind a high-paying job at a hedge fund for long-term,
        	low-budget travel around the world.  But let's back up - how did I end
        	up here?</p>

			<p>I entered the "real world" as a bright-eyed kid armed with a strong 
			sense of optimism and a newly acquired degree in Neuroscience.  Instead 
			of following the traditional path of becoming a doctor, I decided this was 
			my chance to try out a job, make some money, and see what else was out there.  
			I was really lucky and managed to get a job at Goldman Sachs, so I was off to NYC!  
			Say what you want about the vampire squids, but I have a ton of respect for Goldman.  
			I was surrounded by talented, driven people, and they taught me how to really work.  
			At the same time, I got to live in one of the most amazing cities I've ever been to 
			(more on that later)!  I had a great group of friends, enough money for the expensive 
			city lifestyle, and the youthful endurance needed to go out in the city that never 
			sleeps.</p>

			<p>An intense year later, I was again very lucky and was offered a job at a 
			quantitative hedge fund in Connecticut.  I accepted, jumping at the chance to 
			learn from former Harvard professors and some of the most respected people in 
			the quant world.  But as I settled in, I realized I wasn't happy.  Yes, I was 
			making more money than a 23 year old probably should and was living what looked
			like a nice life.  Black cars drove me from Connecticut back to NYC where I still 
			lived.  I could (and am embarrassed to say, sometimes did) spend $500 dollars a 
			night on dinner or going out.  But I wasn't happy.  I could feel my optimism, 
			idealism, and passion for living life draining away, and that sucked. </p>
			

			<p>In finance, I felt surrounded by people with no passion for what they were 
			doing, just there to make lots of money.  And worse yet, I was becoming one of 
			these people.  What was I creating?  I made money into more money and I guess 
			that helped some people.  Why did I have to sit at this desk for ten hours a day?  
			This was the 21st century; all of my work could be done remotely.  I could be out 
			seeing the world!  As these thoughts gnawed at me, I decided I needed to go.  Life 
			wasn't about making money so I could buy nice things, then needing to make even more 
			money to buy even nicer things.  I wanted to live an inspired life filled with 
			amazing experiences and help others do the same.  I wanted to surround myself 
			with passionate, inspired people that were living the lives they dared to dream of. </p>

			<p>So here I am.  Leaving behind the safety of a good, stable job for the adventure 
			of the road.  Working to create something I believe in, something that will help 
			others in their travels.  </p>
			-->
			
			
<!-- 
	Friends,
	
	Today is my last day at AQR.  I've learned a lot over the past few years - about finance, 
	about the "real" world, and most of all, about myself.  It's been an enlightening experience, 
	and now it's time to move on.  It hasn't been an easy decision.  Spending day after day, month
	after month, year after year working somewhere, you may begin to think it's a big part of who you are.
	As I reflected on my time at AQR, I faced difficult questions: What kind of person am I?  
	What kind of life do I want to live?  
	
	I worry that lots of people end up living lives of default.  They're locked into a life they don't want by
	past choices they've been unwilling to confront and re-evaluate.  I thought back to my decisions,
	where they had led, and I imagined what life might be.  Fresh out of school I was like many others,
	unsure of what the real world was like, but excited for it to begin.  Starting a shiny new job,
	making good money, doing interesting work.  This was the life.  This was also the honeymoon phase.
	You dare to dream - you'll work hard, impress people and rise up quickly within the company.  You'll
	make big decisions that will make a difference.  Time passes.  You've gotten more responsibility, 
	you've been promoted, you make more money.  You've been doing well, but maybe not as
	well as you imagined.  Something seems to be missing.  But of course, you think, I was young and 
	naive.  This is what life is supposed to be like.  Time passes.  
  
	You continue to make progress.  You earn more money each year, can go on nice vacations and buy 
	that house.  The work is interesting enough, but may have lost a bit of it's meaning.  You work because it's what you're supposed to do.  More time goes by, you have a child you would do anything for.  Now work has a different purpose.  It's what you do to support your family, so they can live good lives.  Sure, it means you can't spend very much time with your family.  But you continue to put in the hours; with the money you make you can send your kids to the best school and give them the best opportunities.  Years pass, the kids are off on their own, in fact they may be entering the workforce themselves.  They start their new jobs bright-eyed, like you once were.  Repeat.
	
	Most of us are on the path to a stable, easy life. The "good" life. 
	Monday morning the alarm goes off and we drag ourselves out of bed to start the week.  We get to the office,
	sit at our desk or in meetings for 12 hours, then head back home.  Repeat five days a week, 48 weeks a year, X years a lifetime.
	The company pays us good money, so we can buy nice things.  We can afford to go out to those nice restaurants, go
	on nice vacations when we need a break, buy a nice home.  We've set up an easy, though perhaps 
	repetitive, life for ourselves.
	
	//Think about ppl with jobs.  Take a grandfather/grandmother's position.  Ask my mom what she would
	think about my letter.  Or imagine.  What would stir her or someone else who's so settled in their career.
	Think about what could be.  Not accept this as the only way.
	Become immune to something that takes up so much of your time.  Something you dedicate 10 hours a day 
	to should be well spent.  Is it?  Does it matter to you?  How much time do you spend with your parents,
	your family, your loved ones?  Is it less than 10 hours a day?  Is this more important?
	//
	
	But this isn't the life I dream of.  Yes, work isn't supposed to be easy, and yes it may be 
	boring and tedious at times.  I don't expect or want it to be easy.  I want to work hard, and I want to care
	about the boring and tedious aspects.  What is important to me is having a purpose, fighting for 
	something that is meaningful.  For those who have found your purpose in our current positions, 
	congratulations.  Maybe you care about teaching the world a better way to invest efficiently.  Maybe you care about 
	helping participants in underfunded pensions receive the benefits they've been promised.  
	And maybe you can make lots of money doing it (though acknowledge the conflicts between these).
	XXXXXXXXXXX
	
	
	As I look around, I worry that this desire of mine is the byproduct of youthful naivete.  I see
	people who seem satisfied with what they do and the impact they make.  They seem happy to come into the 
	office and put in a solid days work.  But then I think, perhaps this is what they do because this
	is what they've come to expect.  It seems unsurprising that after years and years of doing something, 
	you come to expect and accept that this is what life is.  Maybe it is.  I'm off in pursuit of something more.
	
	
	
	Cambodia - ankor wat, definitely.  Don't take the train.  There are wars between Cambodia and Thailand over temple.
				Go to major cities.  Stick to tourist place.
	
	Thailand - too noisy and too hot, different culture.  
	
	North of singapore - Myanmar (Burma) - just opened border.
	
	Vietnam - safe.
	
	Indonesia - can go
	
	
	
-->
            <h2 class="coming">COMING SOON!</h1>    
            
            

            <p>
            </p>
        </div>
    </div>
</div>